<h2 class="screen-align">Staffcreate</h2>
<div method="get" id="template-iki7" class="form ">
    <div id="template-ih8i" class="form-group ">
        <label id="template-ipog" class="label ">
            <div id="template-ipatw" class="">Staff Name</div>
        </label>
        <input placeholder="Enter Staff Name" id="template-izi2" required="true"
        class="input " />
    </div>
    <div id="template-ij7a" class="form-group ">
        <label id="template-ik9k" class="label ">
            <div id="template-ijyfl" class="">Staff Age</div>
        </label>
        <input type="email" placeholder="Enter Staff Age" id="template-ig9a" class="input "
        />
    </div>
    <div id="template-iorxg" class="form-group "></div>
</div>
<label id="template-iiy74" class="label ">
    <div id="template-im4zc" class="">Staff Roll Number</div>
</label>
<input id="template-ii4ah" placeholder="Enter Staff Roll Number" required="true"
[(ngModel)]="staff.staff_roll_no" [ngModelOptions]="{standalone: true}"
class="input form-control " />